

.cardFilmContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.cardFilm{
    margin-top: 20px;
    margin-left: 10px;
    padding: 5px;
    padding-right: 10px;
    width: 200px;
    border-radius: 20px;
    overflow: hidden;
    font-family: Arial, sans-serif;

    background-color: #040404;
    color: #333;
    -user-select: none;
    cursor: pointer;
}
.cardFilm img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
    -webkit-user-drag: none;
}
.cardFilm h2 {
    text-align: center;
    margin: 10px 0 0 0;
    font-size: 18px;
    color:  white;
}
.cardFilm p {
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-align: center ;
    margin: 0;
    padding: 0;
    font-style: italic;
    font-family: Helvetica;
}
.cardFilm .tahun {
    color: rgb(255, 255, 255);
    font-style: normal;
} 

.cardFilm .genre {
    color: rgba(255, 255, 255, 0.774);
    font-style: normal;
    margin-top: 5px;
    text-align: center;
}

.cardFilm:hover {
    transform: scale(1.10);
    transition: transform 0.2s ease;
    cursor: pointer;
}

