.genreFilmsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.title {
    text-align: center;
    font-size: 32px;
    margin: 10px 0;
    font-weight: bold;
}
.description {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}