.categoryTitle {
    font-size: 24px;
    color: #ff9900;
    margin-bottom: 10px;
    border: 3px solid #ff9900;
    border-radius: 10px;
}

.listContainer li {
    list-style-type: none;
    padding: 0;
    list-style: none;
    color: antiquewhite;
    margin: 5px 0;

}
.listContainer li:hover {
    color: #48a7f5;
    cursor: pointer;
}